@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUIBlack.eot");
  src: url("../fonts/SegoeUIBlack.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SegoeUIBlack.woff2") format("woff2"), url("../fonts/SegoeUIBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI.eot");
  src: url("../fonts/SegoeUI.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI.woff2") format("woff2"),
    url("../fonts/SegoeUI.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI-Bold.eot");
  src: url("../fonts/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SegoeUI-Bold.woff2") format("woff2"), url("../fonts/SegoeUI-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI-Light.eot");
  src: url("../fonts/SegoeUI-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SegoeUI-Light.woff2") format("woff2"), url("../fonts/SegoeUI-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI-Semibold.eot");
  src: url("../fonts/SegoeUI-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SegoeUI-Semibold.woff2") format("woff2"), url("../fonts/SegoeUI-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icons/icomoon.eot?tgm8kg");
  src: url("../fonts/icons/icomoon.eot?tgm8kg#iefix") format("embedded-opentype"),
    url("../fonts/icons/icomoon.ttf?tgm8kg") format("truetype"),
    url("../fonts/icons/icomoon.woff?tgm8kg") format("woff"),
    url("../fonts/icons/icomoon.svg?tgm8kg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dashboard:before {
  content: "\e901";
}
.icon-down-arrow:before {
  content: "\e902";
}
.icon-edit:before {
  content: "\e903";
}
.icon-error:before {
  content: "\e904";
}
.icon-graph:before {
  content: "\e905";
}
.icon-logout:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e907";
}
.icon-notification-bell:before {
  content: "\e908";
}
.icon-plus:before {
  content: "\e909";
}
.icon-problem-solving:before {
  content: "\e90a";
}
.icon-puzzle:before {
  content: "\e90b";
}
.icon-settings:before {
  content: "\e90c";
}
.icon-trash:before {
  content: "\e90d";
}
.icon-up-arrow:before {
  content: "\e90e";
}
.icon-user:before {
  content: "\e90f";
}
.icon-user-management:before {
  content: "\e910";
}
.icon-athlete:before {
  content: "\e900";
}

/* Utility */

* {
  font-family: "Segoe UI" !important;
  box-sizing: border-box !important;
  &:focus {
    outline: none;
  }
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  letter-spacing: 1px !important;
}

.img-fluid {
  max-width: 100%;
}

.form-field {
  margin-bottom: 15px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  font-weight: 500;
  cursor: pointer;
}

.btn-primary {
  background-color: #1765b0;
  border-color: #1765b0;
  color: #fff;
  &:hover {
    background-color: #1e75ca;
    border-color: #1e75ca;
    color: #fff;
  }
}

.btn-secondary {
  background-color: transparent;
  border-color: #ffffff;
  color: #fff;
  &:hover {
    background-color: transparent;
    border-color: #ffffff;
    color: #fff;
  }
}

input {
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
    &:hover {
      -webkit-box-shadow: 0 0 0px 1000px #fff inset;
      transition: background-color 5000s ease-in-out 0s;
    }
    &:focus {
      -webkit-box-shadow: 0 0 0px 1000px #fff inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }
}

textarea {
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
    &:hover {
      -webkit-box-shadow: 0 0 0px 1000px #fff inset;
      transition: background-color 5000s ease-in-out 0s;
    }
    &:focus {
      -webkit-box-shadow: 0 0 0px 1000px #fff inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }
}

select {
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
    &:hover {
      -webkit-box-shadow: 0 0 0px 1000px #fff inset;
      transition: background-color 5000s ease-in-out 0s;
    }
    &:focus {
      -webkit-box-shadow: 0 0 0px 1000px #fff inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }
}
.MuiFormLabel-root {
  color: rgba(255, 255, 255, 1) !important;
}
.Mui-focused {
  color: #fff !important;
}
.MuiInput-underline {
  &:before {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7) !important;
  }
}
.Mui-focused.MuiInput-underline {
  &:after {
    border-bottom: 2px solid #fff;
  }
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #fff !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #070a19 inset !important;
  -webkit-text-fill-color: #fff !important;
}

.outlined-date-picker {
  .MuiIconButton-root {
    padding-right: 0;
  }
}
.btn-icon {
  color: #fabb2d;
  background-color: transparent;
  border: none;
  font-size: 16px;
  margin: 0 2px;
  cursor: pointer;
}
.from-control{
  .MuiFilledInput-root {
    background-color: #262A41 !important;
    border-radius: 0px;
}
.MuiInputLabel-filled {
  transform: none !important;
  color: #fff !important;
  position: relative;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 14px !important;
}
.MuiFilledInput-input {
  padding:4px 12px 6px;
}
.MuiInputBase-input{
  color: #fff !important;
  height: 40px;
  line-height: 2;
}
.MuiFilledInput-underline:before{
  display: none;
}
.MuiSelect-icon {
  color: rgba(255, 255, 255, 0.54);
}
}
.input-group{
  display: flex;
  align-items: center;
  position: relative;
  button{
    position: absolute;
    background-color: #2697f8;
    border: none;
    right: 0;
    width: 115px;
    height: calc(100% - 22px);
    top: 22px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    input{
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
}
/* main CSS */

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #050a26 !important;
  color: #fff !important;
  font-size: 14px !important;
  margin: 0;
  overflow: hidden;
}

.login-wrapper {
  min-height: 100%;
  display: flex;
  height: 100%;
  .login-box-outer {
    flex: 1 1;
    display: flex;
    height: 100%;
    .login-fields {
      flex-grow: 1;
      .form-field {
        margin-bottom: 35px;
        .MuiInputBase-input {
          color: #fff;
        }
      }
    }

    .login-bg {
      width: 50%;
      background: #070a19 url("../images/bg-design.png");
      background-size: cover;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      h2 {
        font-size: 42px;
        margin-bottom: 20px;
        font-weight: 600;
      }
      p {
        font-size: 18px;
        max-width: 300px;
        line-height: 1.5;
        margin-bottom: 50px;
      }
    }
    .login-box {
      position: relative;
      padding: 20px;
      width: 50%;
      display: flex;
      flex-direction: column;
      background-color: #070a19;
      border-left: 1px solid #161e48;
      justify-content: center;
      max-height: 100%;
      overflow: auto;
      form {
        width: 400px;
        margin: 0 auto;
        max-width: 100%;
      }
      .link-forgot-password {
        color: #bababa;
        text-decoration: underline;
        font-weight: 500;
        &:hover {
          color: #1765b0;
        }
      }
      .btn-group {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        align-items: center;
        .btn {
          margin-bottom: 35px;
          border-radius: 100px;
          height: 50px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          font-size: 16px;
          width: 100%;
          height: 50px;
          text-decoration: none;
          font-weight: 600;
          border-radius: 100px;
        }
      }
    }
    .login-logo {
      max-width: 140px;
      display: block;
      margin: 0 auto 40px;
    }
  }
  .box-heading {
    border: none;
    h5 {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 20px;
      font-weight: 600;
    }
    p {
      margin-bottom: 60px;
      text-align: center;
      font-size: 18px;
    }
  }
  footer {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: transparent;
    border: none;
    padding: 30px;
  }
}

.header {
  background-color: #050a26 !important;
  box-shadow: none !important;
  color: #151515 !important;
  border-bottom: 1px solid #28326a;
  .header-inner {
    justify-content: space-between;
  }
  button {
    padding: 0;
    svg {
      color: #fabb2d;
      font-size: 30px;
    }
  }
  .MuiToolbar-regular {
    min-height: 95px;
  }
}

.main-wrapper {
  padding: 95px 0 0 !important;
  width: calc(100% - 100%);
  display: contents;//flex;
  flex-direction: column;
  min-width: 300px;
  .main-content {
    flex-grow: 1;
    .content {
      padding: 30px;
      min-height: calc(100% - 135px);
      display: flex;
      flex-direction: column;
      height: calc(100vh - 135px);
      overflow: auto;
    }
  }
}

footer {
  position: relative;
  background-color: #050a26;
  padding: 10px 30px;
  z-index: 99;
  border-top: 1px solid #28326a;
  .copy-right {
    white-space: nowrap;
    text-align: center;
    a {
      color: #fff;
    }
  }
}

.sidebar {
  .MuiDrawer-paper {
    background-color: #070a19;
    border: none;
    * {
      color: #fff;
    }
  }
  .menu-icon {
    min-width: 56px !important;
    font-size: 23px;
    color: #fff;
    margin-left: 5px;
  }
  .sidebar-logo {
    height: 96px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #2a335f;
    width: 100%;
    justify-content: center;
    img {
      max-width: 80px;
    }
  }
  ul {
    &.navigation {
      padding-top: 35px;
      flex-grow: 1;
    }
    &.logout {
      margin-bottom: 30px;
    }
    .nav-link {
      display: flex;
      align-items: center;
      color: #666;
      text-decoration: none;
      padding: 12px 12px 12px 20px;
      width: 100%;
      &:hover {
        * {
          color: #fabb2d;
          transition: all 250ms ease-in-out;
        }
      }
      &.active {
        background: #070a19;
        background: -moz-linear-gradient(left, #070a19 14%, #2699fb 100%);
        background: -webkit-linear-gradient(left, #070a19 14%, #2699fb 100%);
        background: linear-gradient(to right, #070a19 14%, #2699fb 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#070a19', endColorstr='#2699fb',GradientType=1 );
        * {
          color: #fff;
        }
      }
    }
  }

  .MuiListItem-root {
    padding: 0;
  }
}
.header-right-section {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    padding-left: 20px;
    margin-left: 20px;
    position: relative;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      border-left: 1px solid #fabb2d;
      position: absolute;
      height: 25px;
      left: 0;
    }
    &:first-child {
      margin: 0;
      padding: 0;
      &::before {
        display: none;
      }
    }
    &.notifications {
      i {
        color: #fabb2d;
        font-size: 22px;
      }
    }
    .user-section {
      img {
        width: 28px;
        height: 28px;
      }
      .user-info {
        text-align: left;
        text-transform: initial;
        line-height: 1.2;
        .welcome {
          color: #fabb2d;
          font-size: 12px;
        }
        .user-name {
          font-size: 16px;
          font-weight: 600;
          color: #fabb2d;
        }
      }
    }
  }
}

.page-header {
  .page-name {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 35px;
  }
}
.dark-box {
  background-color: #070a19;
  border: 1px solid #161e48;
}

.dashboard-card {
  .box-info {
    h6 {
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0 !important;
      margin-bottom: 5px;
      margin-top: 0;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .box-count {
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .profit-loss {
      display: flex;
      align-items: center;
      i {
        margin-right: 8px;
        font-size: 16px;
        &.increase {
          color: #5acd4c;
        }
        &.decrease {
          color: #f14848;
          transform: rotate(180deg);
        }
      }
    }
  }
  .box-icon {
    i {
      font-size: 65px;
    }
    &.blue {
      color: #2593f2;
    }
    &.green {
      color: #5acd4c;
    }
    &.yellow {
      color: #fabb2d;
    }
    &.orange {
      color: #f25900;
    }
  }
}
.box-heading {
  border-bottom: 1px solid #161e48;
  font-size: 20px;
  color: #DBDBDB;
}
.box-footer {
  border-top: 1px solid #161e48;
 }
.toggle-btn {
  .btn {
    background-color: #fff;
    color: #222;
    padding: 4px 8px;
    font-size: 12px;
    width: 80px;
    &.active {
      background-color: #1e75ca;
      color: #fff;
    }
  }
}

.table-grid-container {
  max-height: calc(100% - 170px);
  .MuiTableContainer-root {
    box-shadow: none !important;
    border-radius: 0;
  }
  .table-grid {
    tr {
      background-color: #070a19;
      th{
        white-space: nowrap;
      }
      td {
        white-space: nowrap;
        color: #fff;
        border-color: #191d31;
      }
    }
    .status {
      background-color: #000;
      padding: 3px 8px;
      font-size: 12px;
      width: 80px;
      display: block;
      text-align: center;
      margin: 0 auto;
      &.active {
        background-color: #1e7313;
      }
      &.inactive {
        background-color: #881111;
      }
      &.pending {
        background-color: #b14f16;
      }
    }
  }
}

@media screen and (max-width: 1450px) {
  .dashboard-card {
    .box-info {
      .box-count {
        font-size: 30px;
      }
      h6 {
        font-size: 16px;
      }
    }
    .box-icon {
      i {
        font-size: 55px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .page-header {
    .page-name {
      font-size: 30px;
      margin-bottom: 25px;
    }
  }
  .sidebar ul .nav-link {
    padding: 12px !important;
  }
}
